.Xauthority
*hist*
*hsts*
.bin
.cache
.cargo
.ghc
.git
.gitconfig
.gnupg
.icons
.keychain
.kite
.local
.mozilla
.npm
.pki
.rustup
.ssh
.viminfo
.vscode
.vscode-react-native/*
.yarn
.yarnrc
.zcompdump
.zshenv
.zshrc

Development/
Downloads/
Documents/
go/
Scripts/

.emacs.d/*
!.emacs.d/init.el
.zshenv

.config/BraveSoftware/
.config/Code/
.config/Electron/
.config/Mailspring
.config/code-oss
.config/configstore
.config/dconf
.config/discord
.config/galculator
.config/gh
.config/go/
.config/GIMP
.config/gtk*
.config/htop
.config/libvirt
.config/mimeapps.list
.config/nitrogen
.config/nvim.bak
.config/pavucontrol.ini
.config/Postman/
.config/procps
.config/pulse
.config/spotify
.config/xmonad/*.hi
.config/xmonad/*.o
.config/yarn

